<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>对我们的服务提出建议！</title>
<style>
p{
	text-align:center;
}
</style>
</head>

<body>
	<p>
    你想要什么样的功能呢？
    LYZY真诚地接受你的建议！
   	</p>
    <form method="POST">
    	你的名字:<input type="text" name="nombre"/>
        <br />
		<br />
        你的建议:<textarea name="consejo"></textarea>
	<input type="submit"/>
    </form>
</body>
</html>
